@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 10px;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    height: 100vh;
    width: 100vw;
}

.chessboardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
