@tailwind base;
@tailwind components;
@tailwind utilities;

$brownColor: #151515;
$darkColor: #0a0a0a;
$creamColor: #fbfcd4;
$goldColor: #ffdd03;
$orangeColor: #fbc403;

html {
    font-size: 10px;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    overflow: hidden;
}

.websiteBody {
    width: 100vw;
    height: calc(100vh - 10rem);
}
