@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    width: 100%;
    height: calc(100% - 10rem);
}

html {
    font-size: 11px;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    overflow: hidden;
    background-image: url("../src/sass/11.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.lessonH {
    font-size: 1.1rem;
    height: 36rem;
}
.lessonH::-webkit-scrollbar {
    display: none;
}

.liColO {
    background-color: #713f12;
}
.liColE {
    background-color: #a57548;
}
.logo {
    width: 50px;
    height: 50px;
}
.active {
    background-color: rgb(113 63 18);
}
.me {
    width: 500px;
    height: 350px;
}
.FAQW {
    width: 650px;
}
.FAQH {
    height: 80%;
}
.FAQH::-webkit-scrollbar {
    display: none;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}
